@if(!loginModal()){<div class="card bg-base-100 w-full sm:w-3/4 md:w-1/2 lg:w-2/5 mx-auto flex flex-col p-4 sm:p-6 rounded-lg shadow-lg">
    <div class="card-title justify-center text-2xl sm:text-3xl text-primary">Sign up</div>
    <div class="card-body w-full">

        <!-- Steps -->
        <ul class="steps text-xs sm:text-sm md:text-base">
            <li class="step step-primary">Credentials</li>
            <li class="step" [class.step-primary]="currentStep()===2">Profile</li>
        </ul>

        <!-- Step 1 -->
        @if (currentStep()===1) {
            <form [formGroup]="credentialsForm" class="flex flex-col gap-4 w-full">
                <app-text-input class="mt-2" label="Email" formControlName="email" type="email"/>
                <app-text-input label="Display Name" formControlName="displayName"/>
                <app-text-input label="Password" formControlName="password" type="password"/>
                <app-text-input label="Confirm Password" formControlName="confirmPassword" type="password"/>

                <div class="flex flex-col sm:flex-row sm:justify-end gap-3">
                    <button (click)="cancel()" class="btn w-full sm:w-auto">Cancel</button>
                    <button
                        [disabled]="!credentialsForm.valid" 
                        (click)="nextStep()"
                        class="btn btn-primary w-full sm:w-auto" 
                        type="button">Next</button>
                </div>
            </form>
        }

        <!-- Step 2 -->
        @if (currentStep()===2) {
            <form [formGroup]="profileForm" class="flex flex-col gap-4 w-full">
                <div class="flex flex-col sm:flex-row items-start sm:items-center gap-4">
                    <div class="font-semibold">Gender: </div>
                    <label class="flex gap-3 items-center">
                        <span>Male</span>
                        <input type="radio" formControlName="gender" value="male" class="radio radio-primary">
                    </label>
                    <label class="flex gap-3 items-center">
                        <span>Female</span>
                        <input type="radio" formControlName="gender" value="female" class="radio radio-primary">
                    </label>
                </div>
                <app-text-input
                    [maxDate]="getMaxDate()"
                    label="Date Of Birth" formControlName="dateOfBirth" type="date"/>
                <app-text-input label="City" formControlName="city"/>
                <app-text-input label="Country" formControlName="country"/>

                <div class="flex flex-col sm:flex-row sm:justify-end gap-3">
                    <button (click)="prevStep()" class="btn w-full sm:w-auto">Back</button>
                    <button
                        [disabled]="!profileForm.valid" 
                        (click)="register()"
                        class="btn btn-primary w-full sm:w-auto" 
                        type="button">Register</button>
                </div>
            </form>
        }
    </div>

    <!-- Validation Errors -->
    @if (validationErrors().length > 0) {
        <div class="mt-5 flex bg-gray-200 rounded-2xl w-full sm:w-3/4 md:w-1/2 p-3 mx-auto">
            <ul class="flex flex-col text-error space-y-1 text-sm sm:text-base">
                @for (error of validationErrors(); track $index) {
                    <li>{{error}}</li>
                }
            </ul>
        </div>
    }
</div>
} @else {
    <div class="w-full text-2xl text-center flex justify-center">
           <app-login 
           (cancelLogin)="showLoginModal($event)" class="w-full"/>
        </div>
}