@if (memberService.member(); as member)
{
<div class="flex flex-col lg:flex-row gap-6">
    <!-- Left Card -->
    <div class="card bg-base-100 flex flex-col h-auto lg:h-[85vh] w-full lg:w-1/4">
        <img src="{{member.imageUrl || '/user.png'}}" 
             alt="image of member"
             class="rounded-full mx-auto mt-3 w-32 h-32 object-cover">
        
        <div class="card-body">
            <div class="flex flex-col items-center text-center">
                <div class="flex flex-wrap justify-center items-center text-xl lg:text-2xl text-primary">
                    {{member.displayName}}, {{member.dateOfBirth | age}}
                    @if (presenceService.onlineUsers().includes(member.id)) {
                        <span class="status status-success status-lg lg:status-xl ml-2"></span>
                    }
                </div>
                <div class="text-sm">
                    {{member.city}}, {{member.country}}
                </div>
            </div>
            <div class="divider"></div>

            <ul class="menu rounded-box w-full text-lg lg:text-xl">
                <li><a routerLink="profile" routerLinkActive="text-primary">Profile</a></li>
                <li><a routerLink="photos" routerLinkActive="text-primary">Photos</a></li>
                @if (!isCurrentUser()) {
                    <li><a routerLink="messages" routerLinkActive="text-primary">Messages</a></li>
                }
            </ul>
        </div>

        <div class="card-actions flex-col sm:flex-row justify-between gap-2 px-2 mb-3">
            <button routerLink="/members" class="btn btn-info btn-sm sm:btn-md flex-1">Go back</button>
            <button 
                (click)="likesService.toggleLike(member.id)" 
                class="btn btn-sm sm:btn-md flex-1"
                [class.btn-error]="hasLike()"
                [class.btn-success]="!hasLike()">
                {{hasLike() ? 'Remove like' : 'Like user'}}
            </button>
        </div>
    </div>

    <!-- Right Card -->
    <div class="card bg-base-100 w-full lg:w-3/4 p-4 lg:p-6 flex flex-col h-auto lg:h-[85vh]">
        <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center gap-2">
            <h3 class="card-title text-2xl lg:text-3xl text-primary">{{title()}}</h3>
            @if (isCurrentUser()) {
                <button class="btn btn-outline btn-primary btn-sm sm:btn-md" 
                        (click)="memberService.editMode.set(!memberService.editMode())">
                    {{memberService.editMode() ? 'Cancel' : 'Edit'}}
                </button>
            }
        </div>

        <div class="divider"></div>
        <div class="h-full overflow-auto">
            <router-outlet/>
        </div>
    </div>
</div>
}
@else {
    <div class="text-center p-6">Member not found</div>
}
